<!DOCTYPE html>
<html>
  <head>
    <title>Contact Form Lab</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Contact Form Lab</h1>
    <p>Welcome to contact Form Lab</p>
    <h3><a href="/contactus">Contact US</a></h3>
  </body>
</html>
