<!DOCTYPE html>
<html>
  <head>
    <title>Contact Form Lab</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Contact Form Lab</h1>
    <h2> Thank you For you submition </h2>
    <h6>Your Name is <%= fullName %> <br>
        Your Email is <%= email %> <br>
        Your message to us <%= message %> <br>
    </h6>
    <h3>If you want to give more info <a href="/contactus">Contact Us</a></h3>
  </body>
</html>
